.zoomable_image--component {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.zoomable_image--zoomInCursor {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}

.zoomable_image--grabCursor {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.zoomable_image--grabbingCursor {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

.zoomable_image {
	z-index: 1;
}