.zoomable_image---icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: absolute;
	right: 40px;
	top: 96px;
	z-index:150;
}
.zoomable_image---disabledLink {
	cursor: default;
}
.zoomable_image---icon {
	background: rgba(244, 244, 244, 0.5);
	border-radius: 50%;
	color: #232323;
	cursor: pointer;
	font-size: 34px;
	height: 50px;
	margin-bottom: 10px;
	padding: 10px 13px;
	text-align: center;
	width: 50px;
}
